<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo" routerLink="">Burgular</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse button-collapse-menu">
        <i class="material-icons">menu</i>
      </a>
      <a routerLink="/pedidos" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">shopping_cart</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a class="menu-item menu-cardapio" routerLink="/cardapio">Cardapio</a></li>
        <li><a routerLink="/usuario">Área do Usuário</a></li>
        <li >
          <app-carrinho></app-carrinho>
        </li>
      </ul>

      <div class="side-nav" id="mobile-demo">
        <h4>
          <a routerLink="" class="red accent-4">Bem Vindo</a>
        </h4>
        <ul class="collection">
          <li class="collection-item item-menu">
            <a routerLink="/cardapio">
              <i class="fa fa-cutlery fa-2x" aria-hidden="true"></i>
              <span>Cardapio</span>
            </a>
          </li>
          <li class="collection-item item-menu">
            <a routerLink="/pedidos">
              <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
              <span>Carrinho</span>  
            </a>
          </li>
          <li class="collection-item item-menu">
            <a routerLink="/usuario">
              <i class="fa fa-user fa-2x" aria-hidden="true"></i>
              <span>Área do Usuário</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
