<div class="card-panel light-blue darken-1 white-text" *ngIf="mensagem">{{ mensagem }}</div>

<br>

<div class="container">
  <h4>Pedidos</h4>
  <table class="bordered striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>{{ items.name }}</td>
        <td>{{ items.description }}</td>
        <td>{{ items.price | currency:'BRL':true }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>

  <button class="btn waves-effect waves-light" type="submit" name="action" (click)="finalizar()" *ngIf="usuarioLogado" >
   Finalizar Pedido
    <i class="material-icons right">send</i>
  </button>

</div>
