<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="{{ produto.image }}">
        <span class="card-title red accent-4">{{ produto.price | currency: "BRL":"true" }}</span>
      </div>
      <div class="card-content">
        <h4>
          {{ produto.name }}
        </h4>
        <p>
          {{ produto.description }}
        </p>
        <br>
        <div *ngIf="produto.items">
          <h5>O que ele acompanha: </h5>
          <ul class="collection" id="staggered-test">
            <li class="collection-item" *ngFor="let item of produto.items">            
              <span class="title">{{ item.name }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn-large">Comprar</a>
      </div>
    </div>
  </div>
</div>
