/* You can add global styles to this file, and also import other style files */
:root{
	--theme-color: #DF0209;
}

nav, footer{
	background-color: var(--theme-color) !important;
}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}