.home{
  width: 100%;
  height: 400px;
  background-image: url("/assets/img/bg-preto.jpg");
  margin: auto;
  background-repeat: no-repeat;
}
.container{
display: flex;
flex-direction: row;
flex-flow: row wrap;
/*flex-wrap: nowrap;
justify-content:center;
align-items:center;
flex-wrap: wrap;
align-content: center;*/
}




