


/* .flex-container-banner, .flex-container-content{
display: flex;
flex-direction: row;
flex-flow: row wrap;
justify-content:center;
align-items:center;
} */

.flex-container-banner {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}

.banner {
  background-image: url("/assets/img/bg-preto.jpg");
  margin: auto;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.button {
  border: none;
  color: #0971B2;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: auto 2px;
  cursor: pointer;
}

.flex-container-content {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 500px;
  align-items: center;
}

.cardapio,
.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 0px;
}

.cardapio>a,
.login>a {
  color: #000;
  font-weight: bold;
  text-align: center;
  padding: 0px;
  
}

@media screen and (max-width: 798px) {
  .banner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
