<div class="home">
  <div class="flex-container-banner">
    <!--Banner-->
    <div class="banner">

      <div class="promo">
        <!--Promo-->
        <figure><img src="/assets/img/home-angular.png" alt="Hamburger Angular, R$10,00" width="200"></figure>
      </div>
      <div id="burguer">
        <!--Burguer-->
        <figure><img src="/assets/img/home-burguer.png" alt="" width="200"></figure>
      </div>

    </div>


    <div class="flex-container-content">
      <!--Content-->
      <div class="cardapio">
        <figure>
          <img src="/assets/img/home-cardapio.png" alt="Cardápio" width="100">
        </figure>
        <a routerLink="/cardapio" class="button">CARDÁPIO</a>
      </div>
      <div class="login">
        <figure>
          <img src="/assets/img/home-login.png" alt="" width="75">
        </figure>
        <a *ngIf="!usuarioLogado" routerLink="/login" class="button">LOGIN &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        <!-- <a *ngIf="usuarioLogado" class="button">CADASTRO</a> -->
        <a *ngIf="usuarioLogado" routerLink="/perfil" class="button">Perfil</a>
      </div>
      
    </div>
    <!--End Content-->
  </div>
  <!--End Banner-->
</div>

